[package]
name = "ssh-keyonly"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
env_logger = "0.11"
log = "0.4"
russh = "0.56"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
